html,body{
    overflow-x: hidden;
}

html {
    overflow-x: initial !important;
}


body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #ECE3DA;
    color: #353238;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

img {
    flex-shrink: 0;
    object-fit: cover;
}

.mainTitle{
    font-size: 128px;
    height: 25px;
    position: relative;
    bottom: 50px;
}

.subTitle {
    font-size: 60px;
}

#mainImg {
    width: 1427.25px;
    height: auto;
    position: relative;
    left: 250px;
    top: 60px;
}

.body {
    font-family: 'Roboto';
    font-weight: normal;
    width: 1427.25px;
}

.backArrow {
    position: absolute; 
    left: 100px;
    top: 50px;
    color:#353238; 
}

.graphImg{
    width: 700px;
    height: auto;
    position: relative;
    left: 295px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
} 

.mainCont {
    position: relative;
    left: 250px;
    height: 2500px;
}

@media(min-width: 769px) and (max-width: 900px){
    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .mainSpot {
        left: 100px;
        gap: 0;
        align-items: center;
        height: 1750px;
    }

    .mainCont {
        top: 100px;
        left: 125px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 905px;
    }

    .mainTitle {
        font-size: 55px;
        top: 10px;
    }

    .subTitle {
        font-size: 30px;
    }

    .body {
        width: 680px
    }

    .more {
        left: 235px;
    }

    .graphImg {
        width: 680px;
        left: -14px;
    }

}

@media(min-width: 1024px) and (max-width: 1382px){
    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .mainSpot {
        left: 100px;
        gap: 0;
        align-items: center;
        height: 2439px;
    }

    .mainCont {
        top: 100px;
        left: 190px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 2540px;
    }

    .mainTitle {
        font-size: 55px;
        top: 10px;
    }

    .subTitle {
        font-size: 30px;
    }

    .body {
        width: 950px
    }

    .more {
        left: 320px;
    }

    .graphImg {
        width: 950px;
        left: 0;
    }

}