@font-face {
    font-family:"HelveticaNeue";
    src: url("../fonts/helveticaNeueMediumCond.otf")format('opentype');
}

html,body{
    overflow-x: hidden;
}

html {
    overflow-x: initial !important;
}

body  {
    background-color: #ECE3DA ;
    margin: 0;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Section 1  */
#section1{
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
}

.rectangle  {
    width: 245px;
    height: 20px;
    flex-shrink: 0;
    background-color: #353238;
}

#rectangleOne {
    position: absolute;
    top: 128px;
    left: 232px;
}

#rectangleTwo {
    position: absolute;
    top: 800px;
    right: 200px;
}

.landing{
    color: #353238;
    width: 100%;
    height: 1117px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: -75px;
}

#landingImage{
    position: relative;
    top: -80px;
    width: 480px;
    height: auto;
}

.links {
    display: none;
    flex-direction: column;
    flex-basis: 160px;
    width: 100%;
    height: 100px;
    justify-content:space-between;
    color: #353238;
}

.sect1Links {
    position: relative;
    right: -100px;
    top: -100px;
}

#icon1{
    color: #353238;
}

#icon2{
    color: #353238;
}

#icon3{
    color: #353238;
}

#landingText {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -100px;
}

#softwareDeveloper {
    display: inline;
    color: #E36588;
}

#uxDesigner {
    display: inline;
    color: #3E92CC;
}

#landingImage{
    width: 509px;
    height: 632px;
}

#landingTitle {
    width: 709px;
    height: 244px;
    flex-shrink: 0;
    font-size: 52px;
    font-style: normal;
    
    font-weight: 500px;
    line-height: 64px; /* 123.077% */
    letter-spacing: 2.08px;
}

.bodyText{
    position: relative;
    right: 187px;
}

#sub1 {
    width: 642px;
    height: 153px;
    flex-shrink: 0;
    /* font-family: "HelveticaNeue"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
    letter-spacing: 0.6px;
}

#sub2 {
    width: 642px;
    height: 105px;
    flex-shrink: 0;
    /* font-family: "HelveticaNeue"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
    letter-spacing: 0.6px;
}

p {
    /* font-family: "HelveticaNeue"; */
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
    letter-spacing: 0.8px;
}

/* Section 2 */

#section2 {
    display: flex;
    flex-direction: column;
    flex: auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    width: 100%;
    height: 1350px;
    background-color: #353238;
    color:#ECE3DA;
    display: flex;
    flex-direction: row;
}

#resumeLink {
    color: #ECE3DA;
}

.sec2Body {
    display: flex;
    flex-direction: row;
}

.sect2Sub {
    font-size: 55px;
    font-weight: 700;
}

.sec2Left, p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 30px;
    font-weight: 400;
    position: relative;
    left: 195px;
}

.sec2Right{
    position: relative;
    left: 257px;
}

.leftTitles {
    position: relative;
    left: 75px;
}

#codingButtons, #softwareButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
    left: 150px;
    width: 642px;
}

#codingButtons {
    position: relative;
    top: 305px;
    left: 190px;
}

#softwareButtons{
    position: relative;
    left: 190px;
}

#dates {
    position: relative;
    top: 430px;
}

#codingTitle {
    position: relative;
    top: 305px;
}


#softwareTitle, #codingTitle {
    font-size: 40px;
}

#sect2Rect{
    width: 662px;
    height: 19px;
    flex-shrink: 0;
    background: #ECE3DA;
    position: relative;
    top: 120px;
}

#degree{
    font-size: 20px;
    position: relative;
    bottom: 25px;
}

button{
    padding: 2px 30px;
    background: #ECE3DA;
    border: none;
    border-radius: 23px;
    font-size: 22px;
    font-family: 'Roboto Flex', sans-serif;
    color:#353238;
}

#resumePDF {
    font-size: 45px;
    position: relative;
    top: 120px;
}

/* Section Three */
#section3 {
    width: 100%;
    height: 1000px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Flex', sans-serif;
    color: #353238;
}
#myWorkTitle{
    font-size: 75px;
    position: relative;
    top: 75px;
    left: 75px;
}

.workPrevImg {
    width: 509px;
    height: 359px;
    object-fit: cover;
    flex-shrink: 0;
}

.workPreview {
    display: flex;
    flex-direction: row;
    gap: 75px;
    position: relative;
    left: 125px;
    top: 100px;
}

#viewAllbtn {
    position: relative;
    left: 885px;
    top: 250px;
}

.viewAll {
    position: relative;
    left: 885px;
    top: 250px;
    font-size: 35px;
    color: #353238;
}


.underlineAni {
    text-decoration: none;
    &:hover {
      &::after {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #000;
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 250ms;
    }
}

/* phone */
@media (max-width: 328px) {

    br{
        display: none;
    }

    .sect1Links{
        display: none;
    }

    .landing{
        flex-direction: column;
        align-content: center;
        left: 0;
    }

    #landingTitle {
        font-size: 45px;
        width: 220px;
        line-height: 40px;
        height: auto;
    }

    #landingText {
        display: flex;
        position: relative;
        top: 0;
        justify-items: center;
        gap: 40px;
    }

    .titleText {
        position: relative;
        top: 50px;
    }

    .bodyText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 200px;
        position: relative;
        right: 0;
    }

    #sub1, #sub2 {
        height: 125px;
        width: 250px;
        font-size: 12px;
        line-height: 25px;
        margin: 0;
        left: 0;
    }

    #landingImage {
        width: 250px;
        height: auto; 
        top: -10px;
    
    }

    .rectangle {
        display: none;
    }

    #section2 {
        display: none
    }

    #sect3Cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #myWorkTitle{
        font-size: 45px;
        top: 0;
        left: 0;
    }

    .workPrevImg{
        width: 250px;
        height: auto;
    }

    .workPreview {
        flex-direction: column;
        left: 0;
        top: -3px;
        gap: 10px;
    }

    #viewAllbtn {
        left: 0;
        top: 0;
    }

    .viewAll {
        left: 0;
        top: 15px;
        font: 25px;
    }

}

/* small tablet */
@media(min-width: 329px) and (max-width: 568px){

    br {
        display: none;
    }

    .sect1Links {
        display: none;
    }

    .landing {
        left: 0;
        flex-direction: column;
        align-content: center;
        gap: 25px;  
    }

    #landingText {
        display: flex;
        gap: 40px;
        justify-content: center;
        top: 0;
    }

    .titleText {
        position: relative;
        top: 50px;
    }

    #landingTitle {
        font-size: 45px;
        width: 450px;
        line-height: 50px;
        height: auto;
    }

    .bodyText {
        display: flex;
        flex-direction: column;
        justify-self: center;
        position: relative;
        right: 0;
        width: 450px;
    }

    #sub1, #sub2 {
        left: 10px;
        width: 450px;
        margin: 0;
        font-size: 20px;
        line-height: 32px;
    }

    #landingImage {
        width: 300px;
        height: auto;
        top: 0px;
    }

    .rectangle {
        display: none;
    }

    #section2 {
        display: none
    }


    #sect3Cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    #myWorkTitle {
        font-size: 50px;
        top: 30px;
        left: 0;
    }

    .workPrevImg {
        width: 300px;
        height: auto;
    }

    .workPreview {
        flex-direction: column;
        left: 0;
        gap: 10px;
        top: 0;
    }

    .viewAll {
        left: 0px;
        top: 0px;
        font-size: 25px;
    }


}

/* tablet */
/* go one up */
@media(min-width: 569px) and (max-width: 768px){

    br {
        display: none;
    }

    .rectangle{
        display: none;
    }

    .sect1Links {
        display: none;
    }

    .landing {
        flex-direction: column;
        align-content: center;
        gap: 120px;
        left: 0;
        top: 275px;
    }

    #landingText {
        display: flex;
        gap: 50px;
        justify-content: center;
        top: 0;
    }

    .titleText{
        position: relative;
        /* top: 50px; */
    }

    #landingTitle {
        font-size: 50px;
        width: 600px;
        top: 0;    
    }

    .bodyText {
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    #landingImage {
        width: 600px;
        height: auto;
        top: 0;    
        left: 10px;
    }

    #section2{
        display: none;
    }


    #sect3Cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 2025px;
        position: relative;
        top: 570px;
    }

    #myWorkTitle {
        font-size: 50px;
        top: 30px;
        left: 0;
        position: relative;
    }

    .workPreview {
        flex-direction: column;
        left: 0;
        gap: 10px;
        top: 0;
    }

    .workPrevImg {
        width: 500px;
        height: auto;
    }

    .viewAll {
        left: 0px;
        top: 35px;
        font-size: 35px;
    }

}


@media(min-width: 769px) and (max-width: 900px){
    br {
        display: none;
    }

    .rectangle{
        display: none;
    }

    .sect1Links {
        display: none;
    }

    .landing {
        flex-direction: column;
        align-content: center;
        gap: 130px;
        left: 0;
        top: 300px
    }

    #landingText{
        display: flex;
        gap: 50px;
        align-items: center;
        top: 0;
    }

    .titleText {
        position: relative;
    }

    #landingTitle{
        font-size: 55px;
        width: 600px;
        top: 0;
        left: 10px;
    }

    .bodyText {
        display: flex;
        flex-direction: column;
        width: 600px;
    }

    #landingImage {
        width: 500px;
        height: auto;
        top: 0;    
        left: 10px;
    }

    #section2 {
        display: none;
    }

    #sect3Cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        position: relative;
        top: 570px;
    }

    #myWorkTitle {
        font-size: 50px;
        top: 30px;
        left: 0;
        position: relative;
    }

    .workPreview {
        flex-direction: column;
        left: 0;
        gap: 10px;
        top: 0;
    }

    .workPrevImg {
        width: 500px;
        height: auto;
    }

    .viewAll {
        left: 0px;
        top: 35px;
        font-size: 35px;
        margin-bottom: 20px;
    }

}


@media(min-width: 901px) and (max-width: 1024px){


    br {
        display: none;
    }

    .rectangle{
        display: none;
    }

    .sect1Links {
        display:none;
    }

    .landing{
        gap: 20px;
        left: 0;
        top: 0;
    }
    
    #landingtext {
        display: flex;
        gap: 50px;
        align-items: center;
    }

    .titleText{
        position: relative;
    }

    #landingTitle {
        font-size: 55px;
        width: 400px;
    }

    .bodyText {
        display: flex;
        flex-direction: column;
        width: 400px;
        right: 0;
        top: 200px;
    }

    #sub1, #sub2 {
        left: 0px;
        width: 400px;
        margin: 0;
        font-size: 20px;
        line-height: 32px;
    }

    #landingImage {
        top:0;
        width:400px;
        height: auto;
    }

    #section2 {
        height: fit-content;
    }
    .sec2Body {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 50px;
    }

    .sect2Sub {
        font-size: 35px;
    }

    .sec2Left, p {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 30px;
        font-weight: 400;
        position: relative;
        left: 0;
    }

    #codingButtons, #softwareButtons, #softwareTitle, #codingTitle, #techSkills {
        display: none;
    }

    .sec2Right{
        left: 0;
    }

    #experiences p {
        font-size: 20px;
        width: 600px;
    }

    #sect2Rect{
        width: 320px;
    }

    #uni {
        font-size: 20px;
    }
    .education p {
        font-size: 20px;
    }

    #experiences, .education {
        position: relative;
        left: 30px;
    }

    #dates {
        top: 187px;
    }

    #dates p {
        font-size: 20px;
    }

    #resumePDF {
        font-size: 30px;
        top: -14px;
    }

    #sect3Cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        position: relative;
        top: 0;
    }

    #myWorkTitle {
        font-size: 50px;
        top: 30px;
        left: 0;
        position: relative;
    }

    .workPreview {
        flex-direction: column;
        left: 0;
        gap: 10px;
        top: 0;
    }

    .workPrevImg {
        object-fit: cover;
        width: 500px;
        height: auto;
    }

    .viewAll {
        left: 0px;
        top: 35px;
        font-size: 35px;
        margin-bottom: 20px;
    }

}


@media(min-width: 1025px) and (max-width: 1381px){

    .bodyText {
        right: 0;
    }
    #section2 {
        height: fit-content;
    }
    .sec2Body {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 211px;
    }

    .sect2Sub {
        font-size: 35px;
    }

    .sec2Left, p {
        font-family: 'Roboto Flex', sans-serif;
        font-size: 30px;
        font-weight: 400;
        position: relative;
        left: 0;
    }

    #codingButtons, #softwareButtons, #softwareTitle, #codingTitle, #techSkills {
        display: none;
    }

    .sec2Right{
        left: 0;
    }

    #experiences p {
        font-size: 20px;
        width: 600px;
    }

    .leftTitles{
        left: -20px;
    }

    .landing {
        left: 0px;
    }

    #sect2Rect{
        width: 320px;
    }

    #uni {
        font-size: 20px;
    }
    .education p {
        font-size: 20px;
    }

    #experiences, .education {
        position: relative;
        left: 30px;
    }

    #dates {
        top: 187px;
    }

    #dates p {
        font-size: 20px;
    }

    #resumePDF {
        font-size: 30px;
        top: -14px;
    }
    
    #section3 {
        height: fit-content;
    }
    #myWorkTitle {
        font-size: 50px;
        top: 30px;
        left: 30px;
        position: relative;
    }

    .workPreview {
        left: 210px;
        gap: 10px;
        top: 100px;
    }

    .workPrevImg {
        object-fit: cover;
        width: 300px;
        height: 225px;
    }

    .viewAll {
        left: 600px;
        top: 150px;
        font-size: 35px;
        margin-bottom: 20px;
    }
}

@media(min-width: 1382px) and (max-width: 1879px){
        #rectangleOne{
            left: 57px;
        }

        .landing{
            left: 0;
        }

        .bodyText {
            right: 0px;
            left: -190px;
        }

        .sec2Left {
            left: -10px;
        }

        .sec2Right {
            left: -24px;
        }

        #softwareTitle #codingTitle {
            left: 76px;
        }
        #softwareButtons {
            left: 76px;
        }

        #codingButtons {
            left: 76px;
        }

        #dates{
            left: 125px;
        }

        .workPreview{
            left: 48px;
        }

        .workPrevImg {
            width: 386px;
            height: 309px;
        }

        .viewAll {
            left: 635px;
        }


}