html,body{
    overflow-x: hidden;
}

html {
    overflow-x: initial !important;
}


body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #ECE3DA;
    color: #353238;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

img {
    flex-shrink: 0;
    object-fit: cover;
}

#mainImg {
    width: 75%;
    height: 600px;
    position: relative;
    left: 250px;
    top: 60px;
}

.body {
    font-family: 'Roboto';
    font-weight: normal;
    /* width: 1170px; */
    width: 1427.25px;
}

.backArrow {
    position: absolute; 
    left: 100px;
    top: 50px;
    color:#353238; 
}

#appScreenShots{
    display: flex;
    flex-direction: row;
    gap: 60px;
    position: relative;
    left: 275px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
} 

#img1, #img2 {
    width: 20%;
    height: auto;
}

 
.mainTitle{
    font-size: 128px;
    height: 25px;
    position: relative;
    bottom: 50px;
}

.subTitle {
    font-size: 60px;
}

.mainCont {
    position: relative;
    left: 250px;
    height: 2375px;
}

.more {
    display: inline-flex;
    padding: 2px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    background: #848484;
    text-decoration: none;
    color: #ECE3DA;
    position: relative;
    left: 600px;
    top: 30px;
} 

@media(min-width: 769px) and (max-width: 900px){
    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .mainWater {
        left: 100px;
        gap: 0;
        align-items: center;
        height: 1750px;
    }

    #mainImg {
        width: 700px;
        height: auto;
        top: 0;
        left: 0;
    }

    .mainCont {
        top: 100px;
        left: 125px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 1500px;
    }

    .mainTitle {
        font-size: 55px;
    }

    .subTitle {
        font-size: 30px;
    }

    .body {
        width: 680px
    }

    .more {
        left: 235px;
    }

    #appScreenShots{
        left: 124px;
    }

}

@media(min-width: 1024px) and (max-width: 1382px){
    .container {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    
    .mainWater {
        left: 100px;
        gap: 0;
        align-items: center;
        height: 1750px;
    }

    #mainImg {
        width: 700px;
        height: auto;
        top: 0;
        left: 0;
    }

    .mainCont {
        top: 100px;
        left: 190px;
        display: flex;
        flex-direction: column;
        justify-items: center;
        height: 2250px;
    }

    .mainTitle {
        font-size: 55px;
    }

    .subTitle {
        font-size: 30px;
    }

    .body {
        width: 950px
    }

    .more {
        left: 320px;
    }

    #appScreenShots{
        left: 124px;
    }

}